In [2]:
import pyarrow.parquet as pq
import gensim
import sys

In [4]:
dataset = "../data/documents"
table = pq.ParquetDataset(dataset).read()
df = table.to_pandas()

/home/jeasungpark/anaconda3/envs/tensorflow/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/home/jeasungpark/anaconda3/envs/tensorflow/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [5]:
df.head(5)

,id,sentences,pos
0,@jm7654_6,"[1150/NNG, 35/JKS, 45509/VV, 53/EC, 1489/VV, 3...",68719480608
1,@hojunna_4,"[68300/SL, 575/SS, 10051/SL, 38296/SL, 29188/S...",68719477440
2,@paradishift_199,"[493/NNG, 35/JKS, 498/VA, 40/ETM, 446/NNG, 5/J...",68719476952
3,@kerrylove_28,"[39845/NNG, 20759/NR, 4702/NNG, 173/NNB, 2017/...",68719478708
4,@chosohyun730_26,"[109367/NNP, 59/JX, 342376/NNG, 14430/NNG, 262...",68719478471

In [6]:
import pandas as pd

In [8]:
df = df[["id", "sentences"]]

In [9]:
df.head(5)

                 id                                          sentences
0         @jm7654_6  [1150/NNG, 35/JKS, 45509/VV, 53/EC, 1489/VV, 3...
1        @hojunna_4  [68300/SL, 575/SS, 10051/SL, 38296/SL, 29188/S...
2  @paradishift_199  [493/NNG, 35/JKS, 498/VA, 40/ETM, 446/NNG, 5/J...
3     @kerrylove_28  [39845/NNG, 20759/NR, 4702/NNG, 173/NNB, 2017/...
4  @chosohyun730_26  [109367/NNP, 59/JX, 342376/NNG, 14430/NNG, 262...

In [10]:
df["pos"] = [i for i in range(len(df))]

In [11]:
df.head()

                 id                                          sentences  pos
0         @jm7654_6  [1150/NNG, 35/JKS, 45509/VV, 53/EC, 1489/VV, 3...    0
1        @hojunna_4  [68300/SL, 575/SS, 10051/SL, 38296/SL, 29188/S...    1
2  @paradishift_199  [493/NNG, 35/JKS, 498/VA, 40/ETM, 446/NNG, 5/J...    2
3     @kerrylove_28  [39845/NNG, 20759/NR, 4702/NNG, 173/NNB, 2017/...    3
4  @chosohyun730_26  [109367/NNP, 59/JX, 342376/NNG, 14430/NNG, 262...    4

In [16]:
tuples = [tuple(elem) for elem in df.values]

In [17]:
tuples[0]

('@jm7654_6',
 array(['1150/NNG', '35/JKS', '45509/VV', '53/EC', '1489/VV', '37/EF',
        '14/SF', '430/NNG', '59/JX', '45509/VV', '53/EC', '10979/VV',
        '37/EF', '14/SF', '260/NNG', '59/JX', '45509/VV', '53/EC',
        '7652/VV', '37/EF', '14/SF', '132/NP', '59/JX', '45509/VV',
        '53/EC', '1212/MM', '42/NNB', '40/JKO', '431/NNG', '27/JKB',
        '1773/NNG', '34/JKB', '5319/NNG', '34/JKB', '523/VV', '52/EC',
        '1513/VX', '37/EF', '14/SF', '597/NNG', '82/MAG', '6814/NNG',
        '281/XSA', '32/ETM', '323/SN', '1478/NNB', '38/JKG', '8987/NNG',
        '12/VCP', '114/EP', '13/EF', '14/SF', '303/NNG', '7/JX',
        '1706/NNG', '34/JKB', '2961/VV', '65/EC', '35/VX', '68/EC',
        '134/VX', '5/ETM', '2212/SN', '1478/NNB', '12/VCP', '13/EF',
        '14/SF', '17015/NNG', '5/JX', '17367/NNG', '132/JC', '2054/NNG',
        '3784/NNP', '18/NNG', '34/JKB', '1139/VV', '68/EC', '134/VX',
        '13/EF', '14/SF', '439/MM', '324/NNB', '40/JKO', '556/VV',
        '32/ETM', '2907/NNG', '27696/NNG', '59/NNP', '492/VV', '68/EC',
        '134/VX', '5/ETM', '42/NNB', '12/VCP', '13/EF', '14/SF', '76/VV',
        '1353/EC', '45509/VV', '68/EC', '69/VX', '13/EF', '14/SF',
        '2748/MAG', '8363/VA', '32/ETM', '626/NNG', '1773/NNG', '34/JKB',
        '188/NNG', '100/VV', '400/EC', '4644/NNG', '12/JKS', '351948/VV',
        '5/ETM', '42/NNB', '40/JKO', '4366/VA', '32/ETM', '33277/NNG',
        '12/VCP', '44/ETN', '27/JKB', '54/VV', '10/ETM', '237/NNB',
        '134/VV', '13/EF', '14/SF', '17015/NNG', '5/JX', '2162/MAG',
        '21/MM', '9012/NNG', '50/JKO', '439/MM', '173/NNB', '880/VV',
        '68/EC', '1143/VA', '7/ETM', '2907/NNG', '40/JKO', '102/VV',
        '52/EC', '66/VX', '114/EP', '13/EF', '14/SF', '291/MAG', '1434/MM',
        '4437/NNG', '30/JKB', '901/VV', '803/EC', '6397/NNG', '40/JKO',
        '1333/VV', '302/EC', '145/NNG', '9/XSV', '10/ETM', '42/NNB',
        '494/VA', '13/EF', '14/SF', '8120/XR', '9/XSA', '286/EC',
        '35566/NNG', '232/JKB', '1989/NR', '2032/NNG', '40/JKO', '92/MAG',
        '187/VV', '177/EP', '68/EC', '132/NP', '232/JKB', '5/JX', '439/MM',
        '2032/NNG', '337/MAG', '608/NNG', '40/JKO', '277/NNG', '40/JKO',
        '692/VV', '114/EP', '13/EF', '14/SF', '76/VV', '854/EC',
        '17015/NNG', '50/JKO', '213/VV', '68/EC', '537/MAG', '6668/VV',
        '82/EC', '144/VX', '274/EF', '1568/SF', '61/MAJ', '608/NNG',
        '40/JKO', '213/VV', '68/EC', '59/JX', '537/MAG', '3463/XR',
        '9/XSA', '123/EC', '6668/VV', '82/EC', '144/VX', '274/EF',
        '1568/SF', '853/MAG', '7/JX', '17118/XR', '9/XSA', '32/ETM',
        '60/NNG', '34/JKB', '45509/VV', '68/EC', '9131/NNG', '23/JKB',
        '579/VV', '1353/EC', '1356/NP', '7/JX', '323/SN', '1478/NNB',
        '38/JKG', '6814/NNG', '9/XSA', '32/ETM', '1349/NNG', '10143/NNG',
        '232/JKB', '39298/NNG', '9/XSA', '32/ETM', '60/NNG', '12/VCP',
        '18/ETN', '163/NNB', '12/VCP', '13/EF', '14/SF'], dtype=object),
 0)

In [25]:
from gensim.models import doc2vec
from gensim.models.doc2vec import TaggedDocument
import sys
import multiprocessing
from tqdm import tqdm

In [26]:
sentences = [TaggedDocument(words=elem[1], tags=[elem[0]]) for elem in tqdm(tuples)]

100%|██████████| 642190/642190 [00:02<00:00, 303382.24it/s]

In [27]:
print(sentences[0])

TaggedDocument(['1150/NNG' '35/JKS' '45509/VV' '53/EC' '1489/VV' '37/EF' '14/SF'
 '430/NNG' '59/JX' '45509/VV' '53/EC' '10979/VV' '37/EF' '14/SF' '260/NNG'
 '59/JX' '45509/VV' '53/EC' '7652/VV' '37/EF' '14/SF' '132/NP' '59/JX'
 '45509/VV' '53/EC' '1212/MM' '42/NNB' '40/JKO' '431/NNG' '27/JKB'
 '1773/NNG' '34/JKB' '5319/NNG' '34/JKB' '523/VV' '52/EC' '1513/VX'
 '37/EF' '14/SF' '597/NNG' '82/MAG' '6814/NNG' '281/XSA' '32/ETM' '323/SN'
 '1478/NNB' '38/JKG' '8987/NNG' '12/VCP' '114/EP' '13/EF' '14/SF'
 '303/NNG' '7/JX' '1706/NNG' '34/JKB' '2961/VV' '65/EC' '35/VX' '68/EC'
 '134/VX' '5/ETM' '2212/SN' '1478/NNB' '12/VCP' '13/EF' '14/SF'
 '17015/NNG' '5/JX' '17367/NNG' '132/JC' '2054/NNG' '3784/NNP' '18/NNG'
 '34/JKB' '1139/VV' '68/EC' '134/VX' '13/EF' '14/SF' '439/MM' '324/NNB'
 '40/JKO' '556/VV' '32/ETM' '2907/NNG' '27696/NNG' '59/NNP' '492/VV'
 '68/EC' '134/VX' '5/ETM' '42/NNB' '12/VCP' '13/EF' '14/SF' '76/VV'
 '1353/EC' '45509/VV' '68/EC' '69/VX' '13/EF' '14/SF' '2748/MAG' '8363/VA'
 '32/ETM' '626/NNG' '1773/NNG' '34/JKB' '188/NNG' '100/VV' '400/EC'
 '4644/NNG' '12/JKS' '351948/VV' '5/ETM' '42/NNB' '40/JKO' '4366/VA'
 '32/ETM' '33277/NNG' '12/VCP' '44/ETN' '27/JKB' '54/VV' '10/ETM'
 '237/NNB' '134/VV' '13/EF' '14/SF' '17015/NNG' '5/JX' '2162/MAG' '21/MM'
 '9012/NNG' '50/JKO' '439/MM' '173/NNB' '880/VV' '68/EC' '1143/VA' '7/ETM'
 '2907/NNG' '40/JKO' '102/VV' '52/EC' '66/VX' '114/EP' '13/EF' '14/SF'
 '291/MAG' '1434/MM' '4437/NNG' '30/JKB' '901/VV' '803/EC' '6397/NNG'
 '40/JKO' '1333/VV' '302/EC' '145/NNG' '9/XSV' '10/ETM' '42/NNB' '494/VA'
 '13/EF' '14/SF' '8120/XR' '9/XSA' '286/EC' '35566/NNG' '232/JKB'
 '1989/NR' '2032/NNG' '40/JKO' '92/MAG' '187/VV' '177/EP' '68/EC' '132/NP'
 '232/JKB' '5/JX' '439/MM' '2032/NNG' '337/MAG' '608/NNG' '40/JKO'
 '277/NNG' '40/JKO' '692/VV' '114/EP' '13/EF' '14/SF' '76/VV' '854/EC'
 '17015/NNG' '50/JKO' '213/VV' '68/EC' '537/MAG' '6668/VV' '82/EC'
 '144/VX' '274/EF' '1568/SF' '61/MAJ' '608/NNG' '40/JKO' '213/VV' '68/EC'
 '59/JX' '537/MAG' '3463/XR' '9/XSA' '123/EC' '6668/VV' '82/EC' '144/VX'
 '274/EF' '1568/SF' '853/MAG' '7/JX' '17118/XR' '9/XSA' '32/ETM' '60/NNG'
 '34/JKB' '45509/VV' '68/EC' '9131/NNG' '23/JKB' '579/VV' '1353/EC'
 '1356/NP' '7/JX' '323/SN' '1478/NNB' '38/JKG' '6814/NNG' '9/XSA' '32/ETM'
 '1349/NNG' '10143/NNG' '232/JKB' '39298/NNG' '9/XSA' '32/ETM' '60/NNG'
 '12/VCP' '18/ETN' '163/NNB' '12/VCP' '13/EF' '14/SF'], ['@jm7654_6'])

In [ ]:
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

cores = multiprocessing.cpu_count()

doc_vectorizer = doc2vec.Doc2Vec(dm=1,
                                 vector_size=300,
                                 window=5,
                                 alpha=0.025,
                                 min_alpha=0.001,
                                 seed=1234,
                                 min_count=0,
                                 workers=cores,
                                 epochs=5,
                                 hs=1,
                                 negative=10)