In [1]:
!pip install pandavro
import pandas as pd
import pandavro as pdx
import json

df_history = pdx.read_avro("../data/history.avro")
with open("../data/dictionary.json") as fp:
    dictionary = json.load(fp)
df_timestamp = pd.read_json("../data/metadata.json", lines=True)

keys = [elem for elem in dictionary]
values = [dictionary[idx] for idx in keys]
df_dict = pd.DataFrame({"document" : keys, "pos" : values})

df_history = df_history.merge(df_dict, on="document")

Looking in indexes: http://ftp.daumkakao.com/pypi/simple
Collecting pandavro
Requirement already satisfied: six>=1.9 in /Users/jeasungpark/Repository/TensorFlow-Machine-Learning-Cookbook/cookbook/lib/python3.7/site-packages (from pandavro) (1.12.0)
Collecting fastavro>=0.14.11 (from pandavro)
  Downloading http://mirror.kakao.com/pypi/packages/ca/c8/c21919f2b5fd4eb95870ae5bcf40a2d0f0346234e84468db4d7a01c484e4/fastavro-0.22.3-cp37-cp37m-macosx_10_13_x86_64.whl (420kB)
     |████████████████████████████████| 430kB 9.4MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.7.0 in /Users/jeasungpark/Repository/TensorFlow-Machine-Learning-Cookbook/cookbook/lib/python3.7/site-packages (from pandavro) (1.16.4)
Requirement already satisfied: pandas in /Users/jeasungpark/Repository/TensorFlow-Machine-Learning-Cookbook/cookbook/lib/python3.7/site-packages (from pandavro) (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/jeasungpark/Repository/TensorFlow-Machine-Learning-Cookbook/cookbook/lib/python3.7/site-packages (from pandas->pandavro) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/jeasungpark/Repository/TensorFlow-Machine-Learning-Cookbook/cookbook/lib/python3.7/site-packages (from pandas->pandavro) (2019.1)
Installing collected packages: fastavro, pandavro
Successfully installed fastavro-0.22.3 pandavro-1.5.0

In [2]:
df_history["date"] = pd.to_datetime(df_history["timestamp"], format="%Y-%m-%dT%H:%M:%S")
df_history["date"].max()

Timestamp('2019-02-28 23:00:00')

In [3]:
df_history[df_history["pos"] == 526570]

,document,id,timestamp,pos,date
11878679,@eastgo_742,#5afa8aaa942630fde1b6a0e087199f9d,2018-11-16T18:00:00,526570,2018-11-16 18:00:00
11878680,@eastgo_742,#112de22d913b8c10edef90c5b2f4cadb,2019-01-08T10:00:00,526570,2019-01-08 10:00:00
11878681,@eastgo_742,#5bdf8768f25494fadc387f8a52d6150f,2018-11-29T03:00:00,526570,2018-11-29 03:00:00
11878682,@eastgo_742,#612d09c6596919f63d57e962d825a932,2018-11-19T01:00:00,526570,2018-11-19 01:00:00
11878683,@eastgo_742,#0fb9b9ff48e3951ba0019962f8103fa2,2019-02-15T12:00:00,526570,2019-02-15 12:00:00
11878684,@eastgo_742,#d9635d8b2f91f3631500e4d99aa63988,2018-12-13T23:00:00,526570,2018-12-13 23:00:00
11878685,@eastgo_742,#2290167a4fe7bb0f1d4c62a86c708111,2019-01-18T20:00:00,526570,2019-01-18 20:00:00
11878686,@eastgo_742,#5e0d40b3945725e67a05adc17a7372ee,2018-12-05T23:00:00,526570,2018-12-05 23:00:00
11878687,@eastgo_742,#677e984e245b344f61dc5d3cc1f352c8,2019-02-25T23:00:00,526570,2019-02-25 23:00:00
11878688,@eastgo_742,#072b7bdd2bbd58334528ab7061350d23,2019-01-30T19:00:00,526570,2019-01-30 19:00:00
11878689,@eastgo_742,#1a017ccd55192cd08af270ef1573919b,2018-11-05T23:00:00,526570,2018-11-05 23:00:00
11878690,@eastgo_742,#6eed6b8d0df2a916d23c2de7ad8fa9c2,2019-01-21T14:00:00,526570,2019-01-21 14:00:00
11878691,@eastgo_742,#dc6c33ea9128dafe69d1d91b0eb1f2b1,2019-02-08T20:00:00,526570,2019-02-08 20:00:00
11878692,@eastgo_742,#1dc374f8b66549cef918d18a100c9be8,2018-12-18T17:00:00,526570,2018-12-18 17:00:00
11878693,@eastgo_742,#bbf85ed847e32570c23cf153bace0a3c,2018-10-16T20:00:00,526570,2018-10-16 20:00:00
11878694,@eastgo_742,#8bfd7326e128e62ea70b3f47f22231bd,2019-02-12T19:00:00,526570,2019-02-12 19:00:00
11878695,@eastgo_742,#85194726a85397a07ddb55b4fe42d3d6,2018-12-22T23:00:00,526570,2018-12-22 23:00:00
11878696,@eastgo_742,#6a93ec48118d358f8b8706a12c21f6c5,2019-01-21T08:00:00,526570,2019-01-21 08:00:00
11878697,@eastgo_742,#61bc7301e94da5c076c11fa342a47b80,2019-02-24T21:00:00,526570,2019-02-24 21:00:00
11878698,@eastgo_742,#fba422756a5b913cd88a53eafe197fbb,2018-11-12T11:00:00,526570,2018-11-12 11:00:00
11878699,@eastgo_742,#55baf12fef4896859c71bf16984147e7,2018-10-24T15:00:00,526570,2018-10-24 15:00:00
11878700,@eastgo_742,#0fbddf5cdfb94ef0f38f497ab550462d,2018-10-28T09:00:00,526570,2018-10-28 09:00:00
11878701,@eastgo_742,#2e6e2367667407ecddd7bf013bca9a78,2019-01-27T10:00:00,526570,2019-01-27 10:00:00
11878702,@eastgo_742,#e9e1f59f9d9c74608b8a35b1e1160825,2018-11-13T20:00:00,526570,2018-11-13 20:00:00

In [2]:
df = df_history.groupby("id")

In [3]:
df_history

,document,id,timestamp,pos
0,@moondol_209,#cfbda49fbe26a2668b00428ca561d9a7,2019-02-18T00:00:00,195872
1,@moondol_209,#d2882e2d92af7b9603df8d3496478a6a,2019-01-12T17:00:00,195872
2,@moondol_209,#50001d770ccdc6c4ee2739328ae60051,2019-01-12T13:00:00,195872
3,@moondol_209,#a30676fa0756df1ee7ebe956db493d71,2019-02-06T15:00:00,195872
4,@moondol_209,#20c9d2f2f557f943bdaaf41d45ed644b,2019-01-27T20:00:00,195872
5,@moondol_209,#7785ece1084786c70b00942b0c9a0cb6,2019-01-12T19:00:00,195872
6,@moondol_209,#8b6b67701c2ad8f8e604a0c9cd1b5209,2019-01-12T22:00:00,195872
7,@moondol_209,#e8bc8a922e7596221a9289f31ce80db9,2019-02-21T21:00:00,195872
8,@moondol_209,#a1684b1d8d625fe3ccaf463d96164465,2019-02-25T02:00:00,195872
9,@moondol_209,#5548c6d5aca91bdca91c348238429956,2019-01-12T15:00:00,195872
10,@moondol_209,#7582bc49de59e49a9e61ecd49b9e1472,2019-02-14T12:00:00,195872
11,@moondol_209,#6a93ec48118d358f8b8706a12c21f6c5,2019-01-12T16:00:00,195872
12,@moondol_209,#8b13555c98e6b4c8dd43ab6b6e3471e7,2019-01-12T12:00:00,195872
13,@moondol_209,#3751ab29d941647c17baa97e29d21c79,2019-01-12T12:00:00,195872
14,@moondol_209,#7b03a728bd87fd1309b7ac38500e5c6f,2019-02-07T04:00:00,195872
15,@moondol_209,#9ef170cacaa30f62d6de34a5ad42a37e,2019-01-12T16:00:00,195872
16,@moondol_209,#f3a503659b064ab6de10d3ac8252bef4,2019-01-12T12:00:00,195872
17,@moondol_209,#1ae1485d8000a41c624082e4147e6360,2019-01-14T17:00:00,195872
18,@moondol_209,#5dffdbe473c7da70a28c78de4709f180,2019-02-21T12:00:00,195872
19,@moondol_209,#6418104e7a926a5cbc7060f3fd5ab86f,2019-01-14T15:00:00,195872
20,@moondol_209,#d759a20b9b17cb6735fc1a00f1efc927,2019-01-19T14:00:00,195872
21,@moondol_209,#7c497ac727c8a922233e671c94d405ba,2019-01-12T17:00:00,195872
22,@moondol_209,#f823fafcf1de1be97b5cea892bbc8805,2019-01-12T13:00:00,195872
23,@moondol_209,#bd1687ad67c9e9d81927bbc9527629ee,2019-01-26T14:00:00,195872
24,@moondol_209,#37c3ae4cbd77682f5df5f6bb30875d43,2019-02-12T17:00:00,195872
25,@moondol_209,#f12dcc2fafe3a75251deee425d45e588,2019-01-15T08:00:00,195872
26,@moondol_209,#1ab9d154cd124024406c63ced48dfc93,2019-02-06T00:00:00,195872
27,@moondol_209,#f7241e10da4aca004dd0c667fc7db0ed,2019-01-12T14:00:00,195872
28,@moondol_209,#d91465e6e8703db355b4b87c168fb9d2,2019-01-27T16:00:00,195872
29,@moondol_209,#61095b41ff97c3a2e8d9d314871b042e,2019-01-12T14:00:00,195872
...,...,...,...,...
13564322,@wikitree_40,#e4c11fa089559155c584d73d9d332ee0,2019-02-16T03:00:00,261138
13564323,@davide95_70,#7961f197acabd42681eb3a9444bf1440,2018-11-26T02:00:00,69063
13564324,@gnextstory_226,#ab8e007754141428d93fc72eadb97137,2019-02-17T23:00:00,571181
13564325,@jordan777_981,#7ce8f77111f1602c6d5a6a5c640b8d48,2018-11-08T09:00:00,264396
13564326,@top01_144,#7b669a60056291752895d7a5fff9b15a,2018-11-09T12:00:00,210020
13564327,@aiross_70,#d55ec2ba8b206320b95d2010d2819b0f,2019-01-11T15:00:00,48569
13564328,@adipoman_162,#daf5bca3c4c5a5febd151b4336c8da71,2019-02-10T19:00:00,532923
13564329,@wave614ppkw_459,#935baaa6f1af0aac8f0815a19a371c19,2019-01-07T04:00:00,395237
13564330,@choyoungduke_112,#0a563e0e0f53bc40b361387be7f287fa,2018-12-31T17:00:00,612685
13564331,@mrj7b1u_69,#fe57049c70c471805ddf803723c2d901,2018-10-20T17:00:00,162443
13564332,@ansang_220,#c0f14ee12cf29f356c6a3f8f95ea52e8,2018-12-30T23:00:00,377986
13564333,@pencial06_109,#f096d7aa642fda8a5bfbc7b4676ff751,2019-02-27T08:00:00,422831
13564334,@hslife_11,#dc742718d14dfc85012a05398e359219,2018-11-25T09:00:00,490050
13564335,@dong02_890,#aa39d6771d55ba555c44e62bf3e9ef4a,2019-02-02T15:00:00,357246
13564336,@ymksohappy_2,#d19d057e3f5a36e25912daca409fc4d2,2019-01-01T02:00:00,213159
13564337,@aaassd123_61,#bf94ac336926dae0e401a83b7f80a1ef,2018-10-08T03:00:00,108098
13564338,@neverupneverin_5,#c08450f324ddbc450cb381d0d1640484,2018-10-20T17:00:00,171597
13564339,@gomgom_23,#4a3659b6b1ffd39b78c3dfa4f6b2e8cb,2019-01-01T06:00:00,262844
13564340,@59hjhwc1d_93,#6c6ca1e3efcd2a3a5a754be986a2105e,2018-10-14T08:00:00,273925
13564341,@hansalt58_106,#a9f87f0b5876a15407381035b575cac4,2019-01-14T01:00:00,593525
13564342,@michaelbae_169,#22c82be4239378dc1c68e426cf332afc,2019-02-02T15:00:00,150530
13564343,@kyungeunsong_114,#fb3236ab2a8aa1b0d0933927688f93fe,2019-01-03T19:00:00,244183
13564344,@kimjourney_3,#336fed0b915aa0c758835b35740d854b,2018-10-12T23:00:00,35519
13564345,@sustainlife_30,#950dbff3d2512d5a6932d103cb96cdef,2018-11-08T15:00:00,514597
13564346,@yrkstudio_118,#b77084e280ffde453ea6954f75f9e602,2018-10-06T22:00:00,134032
13564347,@roha_35,#b7d2fa0710a95fbfee3db5e3f4e9dd66,2019-02-07T13:00:00,353777
13564348,@shinsuntoon_37,#170223ebc27150930bcd43543b625a4d,2019-01-03T19:00:00,524929
13564349,@hotsgo_4,#37ad0cb41d8169b2d3e27532f67ac298,2018-10-25T23:00:00,249114
13564350,@jairo_109,#0724f96e9311a645355b08f579513788,2019-02-02T15:00:00,529079
13564351,@hosungko_112,#ae355635cefe0f433c72ba43e5a4c7eb,2019-01-08T13:00:00,6065

In [4]:
df_history["date"] = pd.to_datetime(df_history["timestamp"], format="%Y-%m-%dT%H:%M:%S")

In [5]:
import numpy as np

def pad_array(x, flag):
    if len(x) == 15:
        return x
    else:        
        to_pad = [x[0]] * (15 - len(x))
        return to_pad + x
        

def top_n(row):
    name = row[0]
    frame = row[1]

    df_train = frame[(frame['date'] < '2019-02-22')]
    df_train = df_train.sort_values(by=["timestamp", "document"])
    train_array = list(df_train["pos"].values)
    train_length = len(train_array)
    
    df_eval = frame[(frame['date'] >= '2019-02-22')]
    df_eval = df_eval.sort_values(by=["timestamp", "document"])
    eval_array = list(df_eval["pos"].values)
    eval_length = len(eval_array)
    
    if train_length == 0:
        train_array = list(eval_array)
        return name, np.array(pad_array(train_array[-15:], 1)), np.array(eval_array)
    
    if eval_length == 0:
        if train_length >= 20:
            train_array = train_array[-20:-5]
            eval_array = train_array[-5:]
        elif train_length < 20 and train_length > 15:
            x = train_length - 15
            train_array = train_array[-train_length:-x]
            eval_array = train_array[-x:]
        else:
            if train_length != 1:
                train_array = train_array[-train_length:-1]
            eval_array = train_array[-1:]
        return name, np.array(pad_array(train_array[-15:], 2)), np.array(eval_array)
    
    return name, np.array(pad_array(train_array[-15:], 3)), np.array(eval_array)

In [6]:
import multiprocessing
from tqdm import tqdm

groupped = df_history.groupby("id")
cores = multiprocessing.cpu_count()

with multiprocessing.Pool(cores) as p:
    res = list(tqdm(p.imap(top_n, groupped), total=len(groupped)))

100%|██████████| 302391/302391 [02:59<00:00, 1686.94it/s]

In [12]:
length_list = [len(elem[2])==15 for elem in res]

In [16]:
stripped = [(elem[0], elem[1], elem[2][0:5]) for elem in res]

In [27]:
df = pd.DataFrame(res, columns=["id", "train", "eval"])

In [28]:
df.to_parquet("../data/test.parquet")

In [29]:
len(res)

302391

In [30]:
df = pd.DataFrame(stripped, columns=["id", "train", "eval"])

In [31]:
df.to_parquet("../data/train.parquet")

In [19]:
temp = pd.DataFrame({
    "id" : [[1, 2, 3]]
})

In [38]:
temp = dd.from_pandas(temp, npartitions=1)

In [40]:
temp.compute()

          id
0  [1, 2, 3]

In [28]:
df_train = dask_frame[(dask_frame['date'] < '2019-02-22')]
df_eval = dask_frame[(dask_frame['date'] >= '2019-02-22')]

In [31]:
type(df_train.compute())

pandas.core.frame.DataFrame

In [80]:
array = [1]
array[-1:-1]

[]

In [49]:
import numpy as np

df = pd.DataFrame({'x': [1, 2, 3, 4, 5],
                   'y': [1., 2., 3., 4., 5.]})
ddf = dd.from_pandas(df, npartitions=2)

def myadd(row, a, b=1):
    return np.array(row), np.array(row) + a

res = ddf.apply(myadd, axis=1, args=(2,), b=1.5)

/home/jupyter/.local/lib/python3.5/site-packages/dask/dataframe/core.py:3966: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=(None, 'object'))

  warnings.warn(meta_warning(meta))

In [63]:
res = res.compute()

In [67]:
res[0][1]

array([3., 3.])

In [59]:
def pad_array(x):
    if len(x) == 15:
        return x
    else:
        to_pad = [x[0]] * (15 - len(x))
        return to_pad + x
    
len(pad_array(array))

15

In [ ]:
temp = pd.D